<!DOCTYPE html>
<html lang="en">
<head>
<title>Infinity | Stylish Magazine Template</title>
 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
 
<link rel="shortcut icon" href="favicon.ico">
<link rel="icon" type="image/png" href="favicon.png">
 
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/fontawesome.css">
<link rel="stylesheet" href="css/typography.css">
<link rel="stylesheet" href="css/colors.css">
<link rel="stylesheet" href="css/swiper.css">
<link rel="stylesheet" href="css/lightbox.css">
<link rel="stylesheet" href="css/style.css">
 
<link rel="stylesheet" media="(max-width:799px)" href="css/0-responsive.css">
<link rel="stylesheet" media="(min-width:800px) and (max-width:1039px)" href="css/768-responsive.css">
<link rel="stylesheet" media="(min-width:1040px) and (max-width:1199px)" href="css/1025-responsive.css">
<link rel="stylesheet" media="(min-width:1200px)" href="css/1200-responsive.css">
 
<link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
 
<div id="cs-wrapper" class="wide">
 
<header id="cs-header" class="cs-header-center">
 
<div class="cs-header-top">
<div class="cs-container">
 
<nav id="cs-top-navigation">
<ul>
<li><a href="index.html">Home</a></li>
<li><a href="page-shortcodes.html">Shortcodes</a></li>
<li><a href="#"><span>Posts</span></a>
<ul class="sub-menu">
<li><a href="post-standard.html">Standard</a></li>
<li><a href="post-audio.html">Audio</a></li>
<li><a href="post-gallery.html">Gallery</a></li>
<li><a href="post-video.html">Video</a></li>
<li><a href="post-parallax.html">Parallax</a></li>
<li><a href="post-cover.html">Cover</a></li>
</ul>
</li>
<li><a href="page-contact.html">Contact us</a></li>
</ul>
</nav> 
 
<a href="#cs-login-popup" class="cs-top-login">
<i class="fa fa-lock" aria-hidden="true"></i>Login/Register
</a> 
 
<div id="cs-login-popup" class="mfp-hide">
<div class="cs-tab-group">
<ul>
<li><a href="#theme-login">Log in</a></li>
<li><a href="#theme-register">Register</a></li>
</ul>
<div id="theme-login">
<form>
<p>
<label>Username</label>
<input type="text">
</p>
<p>
<label>Password</label>
<input type="password">
</p>
<input type="submit" class="cs-btn cs-btn-black" value="Login">
<p><a href="#">You forgot your password?</a></p>
</form>
</div>
<div id="theme-register">
<form>
<p>
<label>Username</label>
<input type="text">
</p>
<p>
<label>E-mail</label>
<input type="email">
</p>
<input type="submit" class="cs-btn cs-btn-black" value="Register">
<p>You will get e-mail with instructions.</p>
</form>
</div>
</div>
</div> 
</div>
</div> 
 
<div class="cs-header-middle">
<div class="cs-container">
 
<div class="cs-header-search">
<form role="search">
<div class="close"><i class="fa fa-close"></i></div>
<input type="text" placeholder="Type and press enter...">
</form>
</div> 
 
<div class="cs-toggle-main-navigation">
<i class="fa fa-bars"></i>
</div> 
 
<div id="cs-logo-brand">
 
<a href="index.html"><img src="demo/Infinity.jpg" alt="Infinity"></a>
</div> 
 
<div class="cs-desktop-search">
<form>
<input type="search" placeholder="Type and press enter...">
</form>
</div> 
 
<div class="cs-toggle-main-search">
<i class="fa fa-search"></i>
</div> 
</div>
</div> 
 
<div class="cs-header-bottom">
<div class="cs-container">
 
<nav id="cs-main-navigation">
<ul>
<li><a href="#"><span>Homepages</span></a>
<ul class="sub-menu">
<li><a href="index.html">Homepage</a></li>
<li><a href="index-1.html">Homepage 1</a></li>
<li><a href="index-2.html">Homepage 2</a></li>
<li><a href="index-3.html">Homepage 3</a></li>
<li><a href="index-4.html">Homepage 4</a></li>
<li><a href="index-5.html">All blocks and widgets</a></li>
</ul>
</li>
<li><a href="#"><span>Blog</span></a>
<ul class="sub-menu">
<li><a href="blog-category.html">Blog</a></li>
<li><a href="blog-category-1.html">Blog 1</a></li>
<li><a href="blog-category-2.html">Blog 2</a></li>
<li><a href="blog-category-3.html">Blog 3</a></li>
<li><a href="blog-category-4.html">Blog 4</a></li>
</ul>
</li>
<li><a href="#"><span>Posts</span></a>
<ul class="sub-menu">
<li><a href="post-standard.html">Standard</a></li>
<li><a href="post-audio.html">Audio</a></li>
<li><a href="post-gallery.html">Gallery</a></li>
<li><a href="post-video.html">Video</a></li>
<li><a href="post-parallax.html">Parallax</a></li>
<li><a href="post-cover.html">Cover</a></li>
</ul>
</li>
<li class="current-menu-item"><a href="#"><span>Page templates</span></a>
<ul class="sub-menu">
<li><a href="page-shortcodes.html">Shortcodes</a></li>
<li><a href="page-404.html">Page 404</a></li>
<li><a href="page-contact.html">Contact us</a></li>
<li><a href="page-fullwidth.html">Page fullwidth</a></li>
</ul>
</li>
<li><a href="#"><span>Header styles</span></a>
<ul class="sub-menu">
<li><a href="header-1.html">Header 1</a></li>
<li><a href="header-2.html">Header 2</a></li>
</ul>
</li>
<li><a href="#"><span>Layout</span></a>
<ul class="sub-menu">
<li><a href="boxed-image.html">Boxed/image</a></li>
<li><a href="boxed-pattern.html">Boxed/pattern</a></li>
</ul>
</li>
</ul>
</nav> 
</div>
</div> 
</header> 
 
<div class="cs-page-title">
<div class="cs-container">
<h1>Page not found</h1>
</div>
</div> 
 
<div class="cs-page-wrapper cs-container">
 
<div class="cs-main-content">
<div class="cs-404-page">
<h3>4<span>0</span>4</h3>
<h4>Something went terribly wrong...</h4>
<p>But don't worry, it can happen to the best of us - and it just happen to you!<br>
You can search something else or read this text one more time.</p>
<form>
<input type="search" placeholder="Type and press enter...">
</form>
</div>
</div> 
</div> 
 
<footer id="cs-footer">
<div class="cs-container">
<div class="cs-row">
<div class="cs-col cs-col-4-of-12">
 
<aside class="widget">
<h3 class="widget-title"><span>Social network</span></h3>
<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor.</p>
<p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
<div class="cs-widget-social">
<ul>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-instagram"></i></a></li>
<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
</ul>
</div>
</aside> 
</div>
<div class="cs-col cs-col-4-of-12">
 
<aside class="widget widget_custom_categories">
<h3 class="widget-title"><span>Categories</span></h3>
<ul>
<li><a href="blog-category.html">Fashion</a><span>78</span></li>
<li><a href="blog-category.html">Entertainment</a><span>340</span></li>
<li><a href="blog-category.html">Music</a><span>14</span></li>
<li><a href="blog-category.html">Design</a><span>65</span></li>
<li><a href="blog-category.html">Videogames</a><span>998</span></li>
<li><a href="blog-category.html">Nature</a><span>12</span></li>
</ul>
</aside> 
</div>
<div class="cs-col cs-col-4-of-12">
 
<aside class="widget widget_custom_recent_posts">
<h3 class="widget-title"><span>Recent posts</span></h3>
 
<article class="cs-post">
 
<div class="cs-post-thumbnail">
<a href="post-standard.html"><img src="photos/19.jpg" alt="Infinity"></a>
</div> 
 
<div class="cs-post-header">
<div class="cs-category-links">
<a href="blog-category.html">Entertainment</a>
</div>
<h3><a href="post-standard.html">France Wants to Continue State of Emergency to Cover Euro 2016</a></h3>
</div> 
</article> 
 
<article class="cs-post">
 
<div class="cs-post-thumbnail">
<a href="post-standard.html"><img src="photos/18.jpg" alt="Infinity"></a>
</div> 
 
<div class="cs-post-header">
<div class="cs-category-links">
<a href="blog-category.html">Music</a>
</div>
<h3><a href="post-standard.html">Sergio Aguero: City Striker Joins Premier League Centurions</a></h3>
</div> 
</article> 
</aside> 
</div>
</div>
 
<div class="cs-copyright">
Copyright &copy; 2016. Made by <a href="http://jqueryfuns.com" target="_blank">Codeo Studio</a> :)
</div> 
</div>
</footer> 
</div> 
 
<script src="js/jquery.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery-scrollindicator.js"></script>
<script src="js/jquery-fitvids.js"></script>
<script src="js/jquery-parallax.js"></script>
<script src="js/jquery-sticky.js"></script>
<script src="js/jquery-lightbox.js"></script>
<script src="js/jquery-swiper.js"></script>
<script src="js/jquery-init.js"></script><script src="js/jquery-demo.js"></script>
</body>
</html>
