<!DOCTYPE html>
<html lang="en">
	<head>
		<title>新闻聚合网站</title>
		 
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 
		<link rel="shortcut icon" href="/bootstrap/favicon.ico">
		<link rel="icon" type="image/png" href="/bootstrap/favicon.png">
		 
		<link rel="stylesheet" href="/bootstrap/css/normalize.css">
		<link rel="stylesheet" href="/bootstrap/css/fontawesome.css">
		<link rel="stylesheet" href="/bootstrap/css/typography.css">
		<link rel="stylesheet" href="/bootstrap/css/colors.css">
		<link rel="stylesheet" href="/bootstrap/css/swiper.css">
		<link rel="stylesheet" href="/bootstrap/css/lightbox.css">
		<link rel="stylesheet" href="/bootstrap/css/style.css">
		 
		<link rel="stylesheet" media="(max-width:799px)" href="/bootstrap/css/0-responsive.css">
		<link rel="stylesheet" media="(min-width:800px) and (max-width:1039px)" href="/bootstrap/css/768-responsive.css">
		<link rel="stylesheet" media="(min-width:1040px) and (max-width:1199px)" href="/bootstrap/css/1025-responsive.css">
		<link rel="stylesheet" media="(min-width:1200px)" href="/bootstrap/css/1200-responsive.css">
		 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	<body>
		 
		<div id="cs-wrapper" class="wide">
		 
			<header id="cs-header" class="cs-header-center">
<!-------登陆注册------------------------------------------------------------> 	 					 
				<div class="cs-header-top">
				<div class="cs-container">
				 
				<nav id="cs-top-navigation">
					<ul>
						<li><a href="/">主页</a></li>
						<li><a href="page-contact.html">联系我们</a></li>
						<%if(username != ""){%>
						<li><a href="/personal"><%=username%>的喜好设置</a></li>
						<li><a href="page-contact.html">注销</a></li>
						<%}%>			
					</ul>
				</nav> 
				<%if(username == ""){%>
					<a href="#cs-login-popup" class="cs-top-login">
						<i class="fa fa-lock" aria-hidden="true"></i>
						登录/注册
					</a> 
				<%}%>
				<div id="cs-login-popup" class="mfp-hide">
					<div class="cs-tab-group">
						<ul>
							<li><a href="#theme-login">登录</a></li>
							<li><a href="#theme-register">注册</a></li>
						</ul>
						<div id="theme-login">
							<form action="/" id="login_form" method="post">
								<p>
									<label for="login_bond_id">用户名</label>
									<input type="text" name="username"> 
								</p>
								<p>
									<label for="login_password">密码</label>
									<input type="password" name="password">
									<label class="warn" id="login_error" style="color: red"><%=errMsg%></label>							
								</p>
									<input type="submit" class="cs-btn cs-btn-black" value="提交">
							</form>
						</div>
						<div id="theme-register">
							<form action="/" id="login_form" method="post">
								<p>
									<label for="login_bond_id">用户名</label>
									<input type="text" name="username"> 
								</p>
								<p>
									<label for="login_password">密码</label>
									<input type="password" name="password">
									<label class="warn" id="login_error" style="color: red"><%=errMsg%></label>							
								</p>
									<input type="submit" class="cs-btn cs-btn-black" value="Login">
							</form>
						</div>
					</div>
				</div> 
				</div>
				</div> 
				 
				<div class="cs-header-middle">
				<div class="cs-container">
				
				<div class="cs-toggle-main-navigation">
				<i class="fa fa-bars"></i>
				</div> 
				 
				<div id="cs-logo-brand">
				 
				<a href="/"><img src="/bootstrap/demo/Infinity.jpg" alt="Infinity"></a>
				</div> 				
				</div>
				</div> 				 
				<div class="cs-header-bottom">
				<div class="cs-container">
<!-------导航栏------------------------------------------------------------> 	 				
				<nav id="cs-main-navigation">
					<ul>	
					<li class="widget-title">
						<a href="/"><span>社会</span></a>
					</li>	
					<li class="widget-title">
						<a href="/"><span>国际</span></a>
					</li>	
					<li class="widget-title">
						<a href="/"><span>娱乐</span></a>
					</li>	
					<li class="widget-title">
						<a href="/"><span>科技</span></a>
					</li>	
					<li class="widget-title">
						<a href="/"><span>体育</span></a>
					</li>	
					<li class="widget-title">
						<a href="/"><span>汽车</span></a>
					</li>	
					<li class="widget-title">
						<a href="/"><span>财经</span></a>
					</li>	
					<li class="widget-title">
						<a href="/"><span>搞笑</span></a>
					</li>	
					<li class="widget-title">
						<a href="/"><span>军事</span></a>
					</li>	
					<li class="widget-title">
						<a href="/"><span>时尚</span></a>
					</li>	
					<li class="widget-title">
						<a href="/"><span>探索</span></a>
					</li>	
					<li class="widget-title">
						<a href="/"><span>历史</span></a>
					</li>	
					<li class="widget-title">
						<a href="/"><span>旅行</span></a>
					</li>	
					<li class="widget-title">
						<a href="/"><span>游戏</span></a>
					</li>						
					</ul>
				</nav> 
				</div>
				</div> 
			</header> 
			<div class="cs-page-wrapper cs-container">
 
<div class="cs-main-content cs-sidebar-on-the-right">
 
<article class="cs-post cs-single-post">
 
<div class="cs-post-thumbnail">
<a href="/" class="cs-lightbox-image">
<img src="<%=pic%>" alt="Infinity"></a>
</div> 
 
<div class="cs-post-header">
<h1><%=news.data.title%></h1>
<div class="cs-post-header-meta">
<a href="#"><%=catagory%></a>
<a href="#"><%=comment%></a>
<a href="#"><%=author%></a>
</div>
</div> 
 
<div class="cs-post-footer">
<div class="cs-footer-date">
<div class="cs-date-year"><%=year%></div>
<div class="cs-date-day-month"><%=date%></div>
</div>
<div class="cs-footer-share">
<span>分享</span>
<a href="http://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
<a href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
<a href="http://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
</div>
</div> 
 
<div class="cs-post-content" id="newsContent">
<%=news.data.content%>
</div> 
<script>    
var cont = document.getElementById('newsContent').innerHTML;  
var temp = document.createElement("div"); 
temp.innerHTML = cont; 
var output = temp.innerText || temp.textContent; 
temp = null; 
document.getElementById('newsContent').innerHTML = output;
</script>   
</div> 
 <!-------侧边栏新闻类别---------------------------------------------------------------> 
				<div class="cs-main-sidebar cs-sticky-sidebar">				 
					<aside class="widget widget_cover_posts">
					<h3 class="widget-title"><span>类别</span></h3>
					<ul>
						<li>
							<a href="/post?newsid=<%=newsAgg.society[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.society[3].datetime.substring(0,4)%>&date=<%=newsAgg.society[3].datetime.substring(6,11)%>&catagory=society&pic=<%=newsAgg.society[3].middle_image%>&comment=<%=newsAgg.society[3].comment_count%>&author=<%=newsAgg.society[3].source%>">
							<div>
							<span>社会</span>
							<h3><%=newsAgg.society[3].title%></h3>
							</div>
							<img src="<%=newsAgg.society[3].middle_image%>" alt="Infinity">
							</a>
						</li>	
						<li>
							<a href="/post?newsid=<%=newsAgg.world[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.world[3].datetime.substring(0,4)%>&date=<%=newsAgg.world[3].datetime.substring(6,11)%>&catagory=world&pic=<%=newsAgg.world[3].middle_image%>&comment=<%=newsAgg.world[3].comment_count%>&author=<%=newsAgg.world[3].source%>">
							<div>
							<span>国际</span>
							<h3><%=newsAgg.world[3].title%></h3>
							</div>
							<img src="<%=newsAgg.world[3].middle_image%>" alt="Infinity">
							</a>
						</li>	
						<li>
							<a href="/post?newsid=<%=newsAgg.entertainment[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.entertainment[3].datetime.substring(0,4)%>&date=<%=newsAgg.entertainment[3].datetime.substring(6,11)%>&catagory=entertainment&pic=<%=newsAgg.entertainment[3].middle_image%>&comment=<%=newsAgg.entertainment[3].comment_count%>&author=<%=newsAgg.entertainment[3].source%>">
							<div>
							<span>娱乐</span>
							<h3><%=newsAgg.entertainment[3].title%></h3>
							</div>
							<img src="<%=newsAgg.entertainment[3].middle_image%>" alt="Infinity">
							</a>
						</li>			
						<li>
							<a href="/post?newsid=<%=newsAgg.technology[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.technology[3].datetime.substring(0,4)%>&date=<%=newsAgg.technology[3].datetime.substring(6,11)%>&catagory=technology&pic=<%=newsAgg.technology[3].middle_image%>&comment=<%=newsAgg.technology[3].comment_count%>&author=<%=newsAgg.technology[3].source%>">
							<div>
							<span>科技</span>
							<h3><%=newsAgg.technology[3].title%></h3>
							</div>
							<img src="<%=newsAgg.technology[3].middle_image%>" alt="Infinity">
							</a>
						</li>			
						<li>
							<a href="/post?newsid=<%=newsAgg.sport[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.sport[3].datetime.substring(0,4)%>&date=<%=newsAgg.sport[3].datetime.substring(6,11)%>&catagory=hot&pic=<%=newsAgg.sport[3].middle_image%>&comment=<%=newsAgg.sport[3].comment_count%>&author=<%=newsAgg.sport[3].source%>">
							<div>
							<span>体育</span>
							<h3><%=newsAgg.sport[3].title%></h3>
							</div>
							<img src="<%=newsAgg.sport[3].middle_image%>" alt="Infinity">
							</a>
						</li>			
						<li>
							<a href="/post?newsid=<%=newsAgg.car[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.car[3].datetime.substring(0,4)%>&date=<%=newsAgg.car[3].datetime.substring(6,11)%>&catagory=car&pic=<%=newsAgg.car[3].middle_image%>&comment=<%=newsAgg.car[3].comment_count%>&author=<%=newsAgg.car[3].source%>">
							<div>
							<span>汽车</span>
							<h3><%=newsAgg.car[3].title%></h3>
							</div>
							<img src="<%=newsAgg.car[3].middle_image%>" alt="Infinity">
							</a>
						</li>			
						<li>							<a href="/post?newsid=<%=newsAgg.finance[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.finance[3].datetime.substring(0,4)%>&date=<%=newsAgg.finance[3].datetime.substring(6,11)%>&catagory=finance&pic=<%=newsAgg.finance[3].middle_image%>&comment=<%=newsAgg.finance[3].comment_count%>&author=<%=newsAgg.finance[3].source%>">
							<div>
							<span>财经</span>
							<h3><%=newsAgg.finance[3].title%></h3>
							</div>
							<img src="<%=newsAgg.finance[3].middle_image%>" alt="Infinity">
							</a>
						</li>			
						<li>
							<a href="/post?newsid=<%=newsAgg.funny[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.funny[3].datetime.substring(0,4)%>&date=<%=newsAgg.funny[3].datetime.substring(6,11)%>&catagory=funny&pic=<%=newsAgg.funny[3].middle_image%>&comment=<%=newsAgg.funny[3].comment_count%>&author=<%=newsAgg.funny[3].source%>">
							<div>
							<span>搞笑</span>
							<h3><%=newsAgg.funny[3].title%></h3>
							</div>
							<img src="<%=newsAgg.funny[3].middle_image%>" alt="Infinity">
							</a>
						</li>			
						<li>
							<a href="/post?newsid=<%=newsAgg.military[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.military[3].datetime.substring(0,4)%>&date=<%=newsAgg.military[3].datetime.substring(6,11)%>&catagory=military&pic=<%=newsAgg.military[3].middle_image%>&comment=<%=newsAgg.military[3].comment_count%>&author=<%=newsAgg.military[3].source%>">
							<div>
							<span>军事</span>
							<h3><%=newsAgg.military[3].title%></h3>
							</div>
							<img src="<%=newsAgg.military[3].middle_image%>" alt="Infinity">
							</a>
						</li>	
						<li>
							<a href="/post?newsid=<%=newsAgg.fashion[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.fashion[3].datetime.substring(0,4)%>&date=<%=newsAgg.fashion[3].datetime.substring(6,11)%>&catagory=fashion&pic=<%=newsAgg.fashion[3].middle_image%>&comment=<%=newsAgg.fashion[3].comment_count%>&author=<%=newsAgg.fashion[3].source%>">
							<div>
							<span>时尚</span>
							<h3><%=newsAgg.fashion[3].title%></h3>
							</div>
							<img src="<%=newsAgg.fashion[3].middle_image%>" alt="Infinity">
							</a>
						</li>			
						<li>
							<a href="/post?newsid=<%=newsAgg.discovery[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.discovery[3].datetime.substring(0,4)%>&date=<%=newsAgg.discovery[3].datetime.substring(6,11)%>&catagory=discovery&pic=<%=newsAgg.discovery[3].middle_image%>&comment=<%=newsAgg.discovery[3].comment_count%>&author=<%=newsAgg.discovery[3].source%>">
							<div>
							<span>探索</span>
							<h3><%=newsAgg.discovery[3].title%></h3>
							</div>
							<img src="<%=newsAgg.discovery[3].middle_image%>" alt="Infinity">
							</a>
						</li>	
						<li>
							<a href="/post?newsid=<%=newsAgg.regimen[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.regimen[3].datetime.substring(0,4)%>&date=<%=newsAgg.regimen[3].datetime.substring(6,11)%>&catagory=regimen&pic=<%=newsAgg.regimen[3].middle_image%>&comment=<%=newsAgg.regimen[3].comment_count%>&author=<%=newsAgg.regimen[3].source%>">
							<div>
							<span>养生</span>
							<h3><%=newsAgg.regimen[3].title%></h3>
							</div>
							<img src="<%=newsAgg.regimen[3].middle_image%>" alt="Infinity">
							</a>
						</li>			
						<li>	
							<a href="/post?newsid=<%=newsAgg.history[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.history[3].datetime.substring(0,4)%>&date=<%=newsAgg.history[3].datetime.substring(6,11)%>&catagory=history&pic=<%=newsAgg.history[3].middle_image%>&comment=<%=newsAgg.history[3].comment_count%>&author=<%=newsAgg.history[3].source%>">
							<div>
							<span>历史</span>
							<h3><%=newsAgg.history[3].title%></h3>
							</div>
							<img src="<%=newsAgg.history[3].middle_image%>" alt="Infinity">
							</a>
						</li>			
						<li>
							<a href="/post?newsid=<%=newsAgg.travel[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.travel[3].datetime.substring(0,4)%>&date=<%=newsAgg.travel[3].datetime.substring(6,11)%>&catagory=travel&pic=<%=newsAgg.travel[3].middle_image%>&comment=<%=newsAgg.travel[3].comment_count%>&author=<%=newsAgg.travel[3].source%>">
							<div>
							<span>旅行</span>
							<h3><%=newsAgg.travel[3].title%></h3>
							</div>
							<img src="<%=newsAgg.travel[3].middle_image%>" alt="Infinity">
							</a>
						</li>			
						<li>
							<a href="/post?newsid=<%=newsAgg.game[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.game[3].datetime.substring(0,4)%>&date=<%=newsAgg.game[3].datetime.substring(6,11)%>&catagory=game&pic=<%=newsAgg.game[3].middle_image%>&comment=<%=newsAgg.game[3].comment_count%>&author=<%=newsAgg.game[3].source%>">
							<div>
							<span>游戏</span>
							<h3><%=newsAgg.game[3].title%></h3>
							</div>
							<img src="<%=newsAgg.game[3].middle_image%>" alt="Infinity">
							</a>
						</li>						
						<li>
							<a href="/post?newsid=<%=newsAgg.food[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.food[3].datetime.substring(0,4)%>&date=<%=newsAgg.food[3].datetime.substring(6,11)%>&catagory=food&pic=<%=newsAgg.food[3].middle_image%>&comment=<%=newsAgg.food[3].comment_count%>&author=<%=newsAgg.food[3].source%>">
							<div>
							<span>美食</span>
							<h3><%=newsAgg.food[3].title%></h3>
							</div>
							<img src="<%=newsAgg.food[3].middle_image%>" alt="Infinity">
							</a>
						</li>			
					</ul>
					</aside>
				</div> 
			</div> 
	<!-------底部---------------------------------------------------------------> 		 
			<footer id="cs-footer">
			<div class="cs-container">
			<div class="cs-row">
<!-------社交网络---------------------------------------------------------------> 		 	
			<div class="cs-col cs-col-4-of-12">	 
			<aside class="widget">
			<h3 class="widget-title"><span>社交网络</span></h3>
			<p>想要发现些新鲜的？</p>
			<div class="cs-widget-social">
				<ul>
					<li><a href="/"><i class="fa fa-twitter"></i></a></li>
					<li><a href="/"><i class="fa fa-instagram"></i></a></li>
					<li><a href="/"><i class="fa fa-weibo"></i></a></li>
					<li><a href="/"><i class="fa fa-facebook"></i></a></li>
					<li><a href="/"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="/"><i class="fa fa-tumblr"></i></a></li>
					<li><a href="/"><i class="fa fa-weixin"></i></a></li>
					<li><a href="/"><i class="fa fa-vk"></i></a></li>
					<li><a href="/"><i class="fa fa-youtube"></i></a></li>
					<li><a href="/"><i class="fa fa-vimeo"></i></a></li>
					<li><a href="/"><i class="fa fa-spotify"></i></a></li>
					<li><a href="/"><i class="fa fa-skype"></i></a></li>
					<li><a href="/"><i class="fa fa-whatsapp"></i></a></li>
					<li><a href="/"><i class="fa fa-wikipedia-w"></i></a></li>
					<li><a href="/"><i class="fa fa-windows"></i></a></li>
					<li><a href="/"><i class="fa fa-wordpress"></i></a></li>
					<li><a href="/"><i class="fa fa-xing"></i></a></li>
					<li><a href="/"><i class="fa fa-yahoo"></i></a></li>
					<li><a href="/"><i class="fa fa-yelp"></i></a></li>
					<li><a href="/"><i class="fa fa-youtube"></i></a></li>
					<li><a href="/"><i class="fa fa-tripadvisor"></i></a></li>
					<li><a href="/"><i class="fa fa-safari"></i></a></li>
					<li><a href="/"><i class="fa fa-renren"></i></a></li>
					<li><a href="/"><i class="fa fa-qq"></i></a></li>
				</ul>
			</div>
			</aside> 
			</div>
<!-------类别---------------------------------------------------------------> 		 				
			<div class="cs-col cs-col-4-of-12">
			<aside class="widget widget_custom_categories">
			<h3 class="widget-title"><span>类别</span></h3>
			<ul>
			<li><a href="blog-category.html">社会</a><span></span></li>
			<li><a href="blog-category.html">国际</a><span></span></li>
			<li><a href="blog-category.html">科技</a><span></span></li>
			<li><a href="blog-category.html">体育</a><span></span></li>
			<li><a href="blog-category.html">汽车</a><span></span></li>
			<li><a href="blog-category.html">财经</a><span></span></li>
			<li><a href="blog-category.html">搞笑</a><span></span></li>
			<li><a href="blog-category.html">军事</a><span></span></li>
			<li><a href="blog-category.html">时尚</a><span></span></li>
			<li><a href="blog-category.html">探索</a><span></span></li>
			<li><a href="blog-category.html">养生</a><span></span></li>
			<li><a href="blog-category.html">历史</a><span></span></li>
			<li><a href="blog-category.html">旅行</a><span></span></li>
			<li><a href="blog-category.html">游戏</a><span></span></li>
			<li><a href="blog-category.html">美食</a><span></span></li>
			</ul>
			</aside> 
			</div>
<!-------放松一下---------------------------------------------------------------> 		 	
			<div class="cs-col cs-col-4-of-12">
			 
				<aside class="widget widget_custom_recent_posts">
					<h3 class="widget-title"><span>放松一下</span></h3>					 
					<article class="cs-post">			 
						<div class="cs-post-thumbnail">
							<a href="/post?newsid=<%=newsAgg.game[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.game[3].datetime.substring(0,4)%>&date=<%=newsAgg.game[3].datetime.substring(6,11)%>&catagory=game&pic=<%=newsAgg.game[3].middle_image%>&comment=<%=newsAgg.game[3].comment_count%>&author=<%=newsAgg.game[3].source%>">
								<img src="<%=newsAgg.game[3].middle_image%>" alt="Infinity">
							</a>
						</div> 			 
						<div class="cs-post-header">
							<div class="cs-category-links">
								<a href="blog-category.html">游戏</a>
							</div>
							<h3>
								<a href="/post?newsid=<%=newsAgg.game[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.game[3].datetime.substring(0,4)%>&date=<%=newsAgg.game[3].datetime.substring(6,11)%>&catagory=game&pic=<%=newsAgg.game[3].middle_image%>&comment=<%=newsAgg.game[3].comment_count%>&author=<%=newsAgg.game[3].source%>"><%=newsAgg.game[3].title%></a>
							</h3>
						</div> 
					</article> 			 
					<article class="cs-post">			 
						<div class="cs-post-thumbnail">
							<a href="/post?newsid=<%=newsAgg.food[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.food[3].datetime.substring(0,4)%>&date=<%=newsAgg.food[3].datetime.substring(6,11)%>&catagory=food&pic=<%=newsAgg.food[3].middle_image%>&comment=<%=newsAgg.food[3].comment_count%>&author=<%=newsAgg.food[3].source%>">
								<img src="<%=newsAgg.food[3].middle_image%>" alt="Infinity">
							</a>
						</div> 			 
						<div class="cs-post-header">
							<div class="cs-category-links">
								<a href="blog-category.html">美食</a>
							</div>
							<h3>
								<a href="/post?newsid=<%=newsAgg.food[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.food[3].datetime.substring(0,4)%>&date=<%=newsAgg.food[3].datetime.substring(6,11)%>&catagory=food&pic=<%=newsAgg.food[3].middle_image%>&comment=<%=newsAgg.food[3].comment_count%>&author=<%=newsAgg.food[3].source%>"><%=newsAgg.food[3].title%></a>
							</h3>
						</div> 
					</article> 		 
					<article class="cs-post">			 
						<div class="cs-post-thumbnail">
							<a href="/post?newsid=<%=newsAgg.fashion[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.fashion[3].datetime.substring(0,4)%>&date=<%=newsAgg.fashion[3].datetime.substring(6,11)%>&catagory=fashion&pic=<%=newsAgg.fashion[3].middle_image%>&comment=<%=newsAgg.fashion[3].comment_count%>&author=<%=newsAgg.fashion[3].source%>">
								<img src="<%=newsAgg.fashion[3].middle_image%>" alt="Infinity">
							</a>
						</div> 			 
						<div class="cs-post-header">
							<div class="cs-category-links">
								<a href="blog-category.html">时尚</a>
							</div>
							<h3>
								<a href="/post?newsid=<%=newsAgg.fashion[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.fashion[3].datetime.substring(0,4)%>&date=<%=newsAgg.fashion[3].datetime.substring(6,11)%>&catagory=fashion&pic=<%=newsAgg.fashion[3].middle_image%>&comment=<%=newsAgg.fashion[3].comment_count%>&author=<%=newsAgg.fashion[3].source%>"><%=newsAgg.fashion[3].title%></a>
							</h3>
						</div> 
					</article> 	 
					<article class="cs-post">			 
						<div class="cs-post-thumbnail">
							<a href="/post?newsid=<%=newsAgg.travel[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.travel[3].datetime.substring(0,4)%>&date=<%=newsAgg.travel[3].datetime.substring(6,11)%>&catagory=travel&pic=<%=newsAgg.travel[3].middle_image%>&comment=<%=newsAgg.travel[3].comment_count%>&author=<%=newsAgg.travel[3].source%>">
								<img src="<%=newsAgg.travel[3].middle_image%>" alt="Infinity">
							</a>
						</div> 			 
						<div class="cs-post-header">
							<div class="cs-category-links">
								<a href="blog-category.html">旅行</a>
							</div>
							<h3>
								<a href="/post?newsid=<%=newsAgg.travel[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.travel[3].datetime.substring(0,4)%>&date=<%=newsAgg.travel[3].datetime.substring(6,11)%>&catagory=travel&pic=<%=newsAgg.travel[3].middle_image%>&comment=<%=newsAgg.travel[3].comment_count%>&author=<%=newsAgg.travel[3].source%>"><%=newsAgg.travel[3].title%></a>
							</h3>
						</div> 
					</article>  
					<article class="cs-post">			 
						<div class="cs-post-thumbnail">
							<a href="/post?newsid=<%=newsAgg.regimen[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.regimen[3].datetime.substring(0,4)%>&date=<%=newsAgg.regimen[3].datetime.substring(6,11)%>&catagory=regimen&pic=<%=newsAgg.regimen[3].middle_image%>&comment=<%=newsAgg.regimen[3].comment_count%>&author=<%=newsAgg.regimen[3].source%>">
								<img src="<%=newsAgg.regimen[3].middle_image%>" alt="Infinity">
							</a>
						</div> 			 
						<div class="cs-post-header">
							<div class="cs-category-links">
								<a href="blog-category.html">养生</a>
							</div>
							<h3>
								<a href="/post?newsid=<%=newsAgg.regimen[3].item_seo_url.substring(6,25)%>&year=<%=newsAgg.regimen[3].datetime.substring(0,4)%>&date=<%=newsAgg.regimen[3].datetime.substring(6,11)%>&catagory=regimen&pic=<%=newsAgg.regimen[3].middle_image%>&comment=<%=newsAgg.regimen[3].comment_count%>&author=<%=newsAgg.regimen[3].source%>"><%=newsAgg.regimen[3].title%></a>
							</h3>
						</div> 
					</article> 
				</aside> 
			</div>
			</div>			 
			<div class="cs-copyright">
				Copyright &copy; 2017. Made by <a href="https://github.com/zzhyzzh" target="_blank">赵子晗</a> :)
			</div> 
			</div>
			</footer> 
		</div> 
 
		
		<script src="/bootstrap/js/jquery.js"></script>
		<script src="/bootstrap/js/jquery-ui.js"></script>
		<script src="/bootstrap/js/jquery-scrollindicator.js"></script>
		<script src="/bootstrap/js/jquery-fitvids.js"></script>
		<script src="/bootstrap/js/jquery-parallax.js"></script>
		<script src="/bootstrap/js/jquery-sticky.js"></script>
		<script src="/bootstrap/js/jquery-lightbox.js"></script>
		<script src="/bootstrap/js/jquery-swiper.js"></script>
		<script src="/bootstrap/js/jquery-init.js"></script>
		<script src="/bootstrap/js/jquery-demo.js"></script>
		<!--<script src="/javascripts/register.js" charset="utf-8"></script>
		<script src="/javascripts/login.js" charset="utf-8"></script>-->
	</body>
</html>
